.registerArea > h2 {
    color: #596169;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 32px;
    font-weight: lighter;
    font-family: "Calibri Light";
    border-radius: 50%;
    background: #c6dbfb;
    border: 10px solid ghostwhite;
    border-right-style: double;
}

body {
    background-image: url("../images/bubbles.jpg");
}

.registerArea {
    background-color: white;
    margin: 0 auto;
    width: 300px;
    border-radius: 10px;
}

.normalInput {
    color: grey;
    font-size: 14px;
    display: block;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
    width: 220px;
}

.normalInput.error {
    border: 1px solid dodgerblue;
}

.registerArea button {
    margin: 0 auto;
    width: 234px;
    display: block;
    background-color: #b5b5b58a;
    padding: 5px;
    color: #596169;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Calibri Light";
    border-radius: 10px;
    font-weight: lighter;
}

.registerFooter > li {
    display: inline-block;
    color: #596169;
    width: 110px;
    text-align: center;
    margin-bottom: 30px;
}

.registerFooter > li > a {
    color: #596169;
    text-decoration: none;
    font-family: "Calibri Light";
}

p.error {
    font-family: Calibri;
    color: red;
    width: 220px;
    padding-top: 5px;
    margin: 0 auto;
}

.registerArea h3 {
font-family: "Calibri Light";
color: #4c6ee6;
    font-size: 18px;
    display: block;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
    width: fit-content;
}

