.adminArea > h2 {
    color: #596169;
    margin: 0 auto;
    text-align: center;
    padding-top: 35px;
    font-weight: lighter;
    font-family: "Calibri Light";
    text-align: center;
    padding-bottom: 10px;
}

body {
    background-image: url("../images/bubbles.jpg");
}

form {
    display: block;
    margin-top: 0em;
    padding-bottom: 0px;
    height: 300px;
}

.adminArea {
    background-color: white;
    margin: 0 auto;
    width: 300px;
    height: 530px;
    border-radius: 10px;
}

.normalInput {
    color: grey;
    font-size: 14px;
    display: block;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
    width: 220px;
}

.normalInput.error {
    border: 1px solid dodgerblue;
}

.adminArea button {
    margin: 0 auto;
    display: inline-block;
    float: left;
    background-color: #b5b5b58a;
    padding: 5px;
    color: #3b4746;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14px;
    font-family: "Calibri Light";
    border-radius: 10px;
    font-weight: lighter;
    margin-top: 49px;
    margin-bottom: 0px;
}

.adminFooter > li {
    display: inline-block;
    color: grey;
    width: 110px;
    text-align: center;
    margin-bottom: 30px;
}

.adminFooter > li > a {
   margin: 0 auto;
   display: inline-block;
   float: left;
   background-color: #b5b5b58a;
   padding: 5px;
   color: #3b4746;
   margin-left: 40px;
   margin-right: 40px;
   font-size: 14px;
   font-family: "Calibri Light";
   border-radius: 10px;
   font-weight: lighter;
   margin-top: 20px;
   margin-bottom: 20px;
}

p.error {
    font-family: Calibri;
    color: red;
    width: 220px;
    padding-top: 5px;
    margin: 0 auto;
}

.adminArea > form >  h3 {
    font-family: "Calibri Light";
    color: #4c6ee6;
    margin-top: 15px;
    margin-left: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 300px;
    display: -webkit-inline-box;
}

.adminArea > h2 {
    color: #596169;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 32px;
    font-weight: lighter;
    font-family: "Calibri Light";
    border-radius: 50%;
    background: #c6dbfb;
    border: 10px solid ghostwhite;
    border-right-style: double;
}

.homeArea form {
    height: 0px;
}

.homeArea > form > button {
    margin-top: 20px;
}